.form-container {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input[type="email"],
  .form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  